<div>
    <form class="edit-employee-form">
        <legend>New Employee</legend>
        <label>Employee Id</label>
        <input name="employeeId" type="text"/>
        <label>First Name</label>
        <input name="firstName" type="text"/>
        <label>Last Name</label>
        <input name="lastName" type="text"/>
        <label>Phone</label>
        <input name="phone" type="text"/>
        <hr/>
        <button type="submit" class="btn">Create</button>
    </form>
</div>