<div>
    {{#employee}}
        <form class="edit-employee-form">
            <legend>Edit Employee</legend>
            <label>First Name</label>
            <input name="firstName" type="text" value="{{firstName}}"/>
            <label>Last Name</label>
            <input name="lastName" type="text" value="{{lastName}}"/>
            <label>Phone</label>
            <input name="phone" type="text" value="{{phone}}"/>
            <hr/>
            <button type="submit" class="btn">Update</button>
            <input type="hidden" name="employeeId" value="{{employeeId}}"/>
            <input type="hidden" name="id" value="{{employeeId}}"/>
            <button data-employee-id="{{employeeId}}" class="btn btn-danger delete">Delete</button>
        </form>
    {{/employee}}
</div>
